<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/xhtml;charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=11"/>
<meta name="generator" content="Doxygen 1.12.0"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>K0BA: C:/Github/K0BAL/Core/Inc/kconfig.h Source File</title>
<link href="tabs.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="dynsections.js"></script>
<script type="text/javascript" src="clipboard.js"></script>
<link href="navtree.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="resize.js"></script>
<script type="text/javascript" src="cookie.js"></script>
<link href="search/search.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="search/searchdata.js"></script>
<script type="text/javascript" src="search/search.js"></script>
<link href="doxygen.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="top"><!-- do not remove this div, it is closed by doxygen! -->
<div id="titlearea">
<table cellspacing="0" cellpadding="0">
 <tbody>
 <tr id="projectrow">
  <td id="projectalign">
   <div id="projectname">K0BA<span id="projectnumber">&#160;v0.1.0</span>
   </div>
   <div id="projectbrief">Kernel 0 for emBedded Applications</div>
  </td>
 </tr>
 </tbody>
</table>
</div>
<!-- end header part -->
<!-- Generated by Doxygen 1.12.0 -->
<script type="text/javascript">
/* @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&amp;dn=expat.txt MIT */
var searchBox = new SearchBox("searchBox", "search/",'.html');
/* @license-end */
</script>
<script type="text/javascript">
/* @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&amp;dn=expat.txt MIT */
$(function() { codefold.init(0); });
/* @license-end */
</script>
<script type="text/javascript" src="menudata.js"></script>
<script type="text/javascript" src="menu.js"></script>
<script type="text/javascript">
/* @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&amp;dn=expat.txt MIT */
$(function() {
  initMenu('',true,false,'search.php','Search',false);
  $(function() { init_search(); });
});
/* @license-end */
</script>
<div id="main-nav"></div>
<script type="text/javascript">
/* @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&amp;dn=expat.txt MIT */
$(function(){ initResizable(false); });
/* @license-end */
</script>
<!-- window showing the filter options -->
<div id="MSearchSelectWindow"
     onmouseover="return searchBox.OnSearchSelectShow()"
     onmouseout="return searchBox.OnSearchSelectHide()"
     onkeydown="return searchBox.OnSearchSelectKey(event)">
</div>

<!-- iframe showing the search results (closed by default) -->
<div id="MSearchResultsWindow">
<div id="MSearchResults">
<div class="SRPage">
<div id="SRIndex">
<div id="SRResults"></div>
<div class="SRStatus" id="Loading">Loading...</div>
<div class="SRStatus" id="Searching">Searching...</div>
<div class="SRStatus" id="NoMatches">No Matches</div>
</div>
</div>
</div>
</div>

<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_c6310732a22f63c0c2fc5595561e68f1.html">Core</a></li><li class="navelem"><a class="el" href="dir_e2489e887f17afa3cbc07a4ec152cdd2.html">Inc</a></li>  </ul>
</div>
</div><!-- top -->
<div id="doc-content">
<div class="header">
  <div class="headertitle"><div class="title">kconfig.h</div></div>
</div><!--header-->
<div class="contents">
<a href="kconfig_8h.html">Go to the documentation of this file.</a><div class="fragment"><div class="line"><a id="l00001" name="l00001"></a><span class="lineno">    1</span> </div>
<div class="line"><a id="l00023" name="l00023"></a><span class="lineno">   23</span><span class="preprocessor">#ifndef INC_K_CONFIG_H_</span></div>
<div class="line"><a id="l00024" name="l00024"></a><span class="lineno">   24</span><span class="preprocessor">#define INC_K_CONFIG_H_</span></div>
<div class="line"><a id="l00025" name="l00025"></a><span class="lineno">   25</span> </div>
<div class="line"><a id="l00026" name="l00026"></a><span class="lineno">   26</span><span class="preprocessor">#ifndef __GNUC__</span></div>
<div class="line"><a id="l00027" name="l00027"></a><span class="lineno">   27</span><span class="preprocessor">#   error &quot;You need GCC as your compiler!&quot;</span></div>
<div class="line"><a id="l00028" name="l00028"></a><span class="lineno">   28</span><span class="preprocessor">#endif</span></div>
<div class="line"><a id="l00029" name="l00029"></a><span class="lineno">   29</span> </div>
<div class="line"><a id="l00030" name="l00030"></a><span class="lineno">   30</span><span class="preprocessor">#ifndef __KVERSION</span></div>
<div class="line"><a id="l00031" name="l00031"></a><span class="lineno">   31</span><span class="preprocessor">#error &quot;Missing kernel version unit&quot;</span></div>
<div class="line"><a id="l00032" name="l00032"></a><span class="lineno">   32</span><span class="preprocessor">#endif</span></div>
<div class="line"><a id="l00033" name="l00033"></a><span class="lineno">   33</span> </div>
<div class="line"><a id="l00037" name="l00037"></a><span class="lineno"><a class="line" href="kconfig_8h.html#aeed613812aec0541d867776a0a092437">   37</a></span><span class="preprocessor">#define TIM_ON 0</span></div>
<div class="line"><a id="l00038" name="l00038"></a><span class="lineno">   38</span> </div>
<div class="line"><a id="l00040" name="l00040"></a><span class="lineno"><a class="line" href="kconfig_8h.html#a847fc9431b7da498d21d8b4645805487">   40</a></span><span class="preprocessor">#define K_CONF_SCH_TSLICE     ON</span></div>
<div class="line"><a id="l00041" name="l00041"></a><span class="lineno">   41</span> </div>
<div class="line"><a id="l00043" name="l00043"></a><span class="lineno"><a class="line" href="kconfig_8h.html#a668217b99c245f63fa193a279be499d0">   43</a></span><span class="preprocessor">#define PID_IDLETASK         0</span></div>
<div class="line"><a id="l00045" name="l00045"></a><span class="lineno"><a class="line" href="kconfig_8h.html#a01271ebdaa8acb0495debc097747450b">   45</a></span><span class="preprocessor">#define PID_TIMHANDLER       1</span></div>
<div class="line"><a id="l00047" name="l00047"></a><span class="lineno"><a class="line" href="kconfig_8h.html#a51fcc1ce2e7a0c1f057fc1e2d54b5e2d">   47</a></span><span class="preprocessor">#define PID_INVALID          255</span></div>
<div class="line"><a id="l00049" name="l00049"></a><span class="lineno"><a class="line" href="kconfig_8h.html#aa50a31024c4e00ed3eb5a119cbd4bc93">   49</a></span><span class="preprocessor">#define _NTHREADS        5</span></div>
<div class="line"><a id="l00051" name="l00051"></a><span class="lineno"><a class="line" href="kconfig_8h.html#a21d9543c516fffee84a7963224271f95">   51</a></span><span class="preprocessor">#define STACKSIZE        128</span></div>
<div class="line"><a id="l00053" name="l00053"></a><span class="lineno"><a class="line" href="kconfig_8h.html#a51ca9914034cd3e92903476fd4eebbd6">   53</a></span><span class="preprocessor">#define NTHREADS         (_NTHREADS + 1)</span></div>
<div class="line"><a id="l00055" name="l00055"></a><span class="lineno"><a class="line" href="kconfig_8h.html#a032d44401ff37a857f8302901de266e3">   55</a></span><span class="preprocessor">#define _NPRIO           5</span></div>
<div class="line"><a id="l00057" name="l00057"></a><span class="lineno"><a class="line" href="kconfig_8h.html#a9287234affb49e18e6221cc3df3e5738">   57</a></span><span class="preprocessor">#define NPRIO            (_NPRIO + 1)</span></div>
<div class="line"><a id="l00058" name="l00058"></a><span class="lineno">   58</span> </div>
<div class="line"><a id="l00060" name="l00060"></a><span class="lineno"><a class="line" href="kconfig_8h.html#a1e70a4e88f54126f863f08c41f2e312c">   60</a></span><span class="preprocessor">#define TICK_10MS        (SystemCoreClock/1000)</span></div>
<div class="line"><a id="l00062" name="l00062"></a><span class="lineno"><a class="line" href="kconfig_8h.html#a244b324cb35392ea1d69222cebfb9e9c">   62</a></span><span class="preprocessor">#define TICK_5MS         (SystemCoreClock/2000)</span></div>
<div class="line"><a id="l00064" name="l00064"></a><span class="lineno"><a class="line" href="kconfig_8h.html#ad819070748c7f96aaebe03d72df770a1">   64</a></span><span class="preprocessor">#define TICK_1MS         (SystemCoreClock/10000)</span></div>
<div class="line"><a id="l00066" name="l00066"></a><span class="lineno"><a class="line" href="kconfig_8h.html#aa86d11d266560cbc70794041eb86572e">   66</a></span><span class="preprocessor">#define K_CONF_TICK_PERIOD TICK_10MS</span></div>
<div class="line"><a id="l00067" name="l00067"></a><span class="lineno">   67</span> </div>
<div class="line"><a id="l00068" name="l00068"></a><span class="lineno">   68</span> </div>
<div class="line"><a id="l00069" name="l00069"></a><span class="lineno">   69</span><span class="preprocessor">#define K_CONF_TRACE ON</span></div>
<div class="line"><a id="l00070" name="l00070"></a><span class="lineno">   70</span><span class="preprocessor">#if (K_CONF_TRACE)</span></div>
<div class="line"><a id="l00071" name="l00071"></a><span class="lineno">   71</span> </div>
<div class="line"><a id="l00072" name="l00072"></a><span class="lineno">   72</span><span class="preprocessor">    #define TRACEBUFF_SIZE    512</span></div>
<div class="line"><a id="l00073" name="l00073"></a><span class="lineno">   73</span><span class="preprocessor">    #define TRACE_MAX_CHAR    16</span></div>
<div class="line"><a id="l00074" name="l00074"></a><span class="lineno">   74</span><span class="preprocessor">    #define TRACE_ONLY_EVENT  ON</span></div>
<div class="line"><a id="l00075" name="l00075"></a><span class="lineno">   75</span> </div>
<div class="line"><a id="l00076" name="l00076"></a><span class="lineno">   76</span><span class="preprocessor">    #if     (TRACE_ONLY_EVENT==ON)</span></div>
<div class="line"><a id="l00077" name="l00077"></a><span class="lineno">   77</span><span class="preprocessor">            #define K_TRACE(event) kTrace(event, NULL)</span></div>
<div class="line"><a id="l00078" name="l00078"></a><span class="lineno">   78</span><span class="preprocessor">    #else</span></div>
<div class="line"><a id="l00079" name="l00079"></a><span class="lineno">   79</span><span class="preprocessor">            #define K_TRACE(event, info) kTrace(event, info)</span></div>
<div class="line"><a id="l00080" name="l00080"></a><span class="lineno">   80</span><span class="preprocessor">    #endif</span></div>
<div class="line"><a id="l00081" name="l00081"></a><span class="lineno">   81</span><span class="preprocessor">#endif</span></div>
<div class="line"><a id="l00082" name="l00082"></a><span class="lineno">   82</span> </div>
<div class="line"><a id="l00083" name="l00083"></a><span class="lineno">   83</span> </div>
<div class="line"><a id="l00087" name="l00087"></a><span class="lineno"><a class="line" href="kconfig_8h.html#ac97dcfabd0f424e740a97c4d24c6d140">   87</a></span><span class="preprocessor">#define K_CONF_MSG_QUEUE        ON</span></div>
<div class="line"><a id="l00088" name="l00088"></a><span class="lineno">   88</span><span class="preprocessor">#define K_CONF_MAILBOX          ON</span></div>
<div class="line"><a id="l00089" name="l00089"></a><span class="lineno">   89</span><span class="preprocessor">#define K_CONF_MAILBOX_ACK      ON </span><span class="comment">//**&lt;* extended rendez-vous */</span></div>
<div class="line"><a id="l00090" name="l00090"></a><span class="lineno">   90</span><span class="preprocessor">#if ((K_CONF_MSG_QUEUE == ON) || (K_CONF_MAILBOX == ON))</span></div>
<div class="line"><a id="l00091" name="l00091"></a><span class="lineno"><a class="line" href="kconfig_8h.html#adc9c4dbbd6d589bc0e2156b0193fe619">   91</a></span><span class="preprocessor">    #define MSGBUFF_SIZE sizeof(K_MESGBUFF) </span></div>
<div class="line"><a id="l00092" name="l00092"></a><span class="lineno"><a class="line" href="kconfig_8h.html#a821104b4705c10c75e0fb34c3baae166">   92</a></span><span class="preprocessor">    #define N_MSGBUFF 20                   </span></div>
<div class="line"><a id="l00093" name="l00093"></a><span class="lineno">   93</span><span class="preprocessor">#endif</span></div>
<div class="line"><a id="l00094" name="l00094"></a><span class="lineno">   94</span><span class="preprocessor">#if (K_CONF_MSG_QUEUE == ON)</span></div>
<div class="line"><a id="l00095" name="l00095"></a><span class="lineno">   95</span><span class="preprocessor">    #if (N_MSGBUFF &lt;=0 )</span></div>
<div class="line"><a id="l00096" name="l00096"></a><span class="lineno">   96</span><span class="preprocessor">    #   error &quot;Number of message buffers must be greater than 0&quot;</span></div>
<div class="line"><a id="l00097" name="l00097"></a><span class="lineno">   97</span><span class="preprocessor">    #endif</span></div>
<div class="line"><a id="l00098" name="l00098"></a><span class="lineno">   98</span><span class="preprocessor">#endif</span></div>
<div class="line"><a id="l00102" name="l00102"></a><span class="lineno"><a class="line" href="kconfig_8h.html#ae81bb567adf7a88bf77d859f19b019db">  102</a></span><span class="preprocessor">#define K_CONF_COND_VAR ON</span></div>
<div class="line"><a id="l00103" name="l00103"></a><span class="lineno">  103</span> </div>
<div class="line"><a id="l00105" name="l00105"></a><span class="lineno"><a class="line" href="kconfig_8h.html#a677b9ae3f52c881a66fd1769f66242d7">  105</a></span><span class="preprocessor">#define K_CONF_PIPES    ON</span></div>
<div class="line"><a id="l00106" name="l00106"></a><span class="lineno">  106</span><span class="preprocessor">#define SIMPLE_PIPE      1</span></div>
<div class="line"><a id="l00107" name="l00107"></a><span class="lineno">  107</span><span class="preprocessor">#define EXTENDED_PIPE    2</span></div>
<div class="line"><a id="l00108" name="l00108"></a><span class="lineno">  108</span><span class="preprocessor">#if (K_CONF_PIPES==ON)</span></div>
<div class="line"><a id="l00109" name="l00109"></a><span class="lineno"><a class="line" href="kconfig_8h.html#abc6a1fc471b3060f967ad4e5e1916f03">  109</a></span><span class="preprocessor">    #define PIPE_SIZE            (35) </span></div>
<div class="line"><a id="l00110" name="l00110"></a><span class="lineno">  110</span><span class="preprocessor">    #define PIPE_TYPE            EXTENDED_PIPE</span></div>
<div class="line"><a id="l00111" name="l00111"></a><span class="lineno">  111</span><span class="preprocessor">#endif</span></div>
<div class="line"><a id="l00112" name="l00112"></a><span class="lineno">  112</span> </div>
<div class="line"><a id="l00116" name="l00116"></a><span class="lineno"><a class="line" href="kconfig_8h.html#a5d4e4a6f927115e8b06316cfdc29beba">  116</a></span><span class="preprocessor">#define N_TIMERS    6                      </span></div>
<div class="line"><a id="l00117" name="l00117"></a><span class="lineno"><a class="line" href="kconfig_8h.html#a9552c41a5b5e71c374a545241bb477ed">  117</a></span><span class="preprocessor">#define TIMER_SIZE sizeof(K_TIMER)         </span></div>
<div class="line"><a id="l00119" name="l00119"></a><span class="lineno">  119</span><span class="preprocessor">#endif </span><span class="comment">/* K_CONFIG_H */</span><span class="preprocessor"></span></div>
</div><!-- fragment --></div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.12.0
</small></address>
</div><!-- doc-content -->
</body>
</html>
