<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/xhtml;charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=11"/>
<meta name="generator" content="Doxygen 1.12.0"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>K0BA: C:/GitKoba/K0BA_Lite/Inc/kernel/kconfig.h File Reference</title>
<link href="tabs.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="dynsections.js"></script>
<script type="text/javascript" src="clipboard.js"></script>
<link href="navtree.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="resize.js"></script>
<script type="text/javascript" src="cookie.js"></script>
<link href="search/search.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="search/searchdata.js"></script>
<script type="text/javascript" src="search/search.js"></script>
<link href="doxygen.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="top"><!-- do not remove this div, it is closed by doxygen! -->
<div id="titlearea">
<table cellspacing="0" cellpadding="0">
 <tbody>
 <tr id="projectrow">
  <td id="projectalign">
   <div id="projectname">K0BA<span id="projectnumber">&#160;v0.1.0</span>
   </div>
   <div id="projectbrief">Kernel 0 for emBedded Applications</div>
  </td>
 </tr>
 </tbody>
</table>
</div>
<!-- end header part -->
<!-- Generated by Doxygen 1.12.0 -->
<script type="text/javascript">
/* @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&amp;dn=expat.txt MIT */
var searchBox = new SearchBox("searchBox", "search/",'.html');
/* @license-end */
</script>
<script type="text/javascript">
/* @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&amp;dn=expat.txt MIT */
$(function() { codefold.init(0); });
/* @license-end */
</script>
<script type="text/javascript" src="menudata.js"></script>
<script type="text/javascript" src="menu.js"></script>
<script type="text/javascript">
/* @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&amp;dn=expat.txt MIT */
$(function() {
  initMenu('',true,false,'search.php','Search',false);
  $(function() { init_search(); });
});
/* @license-end */
</script>
<div id="main-nav"></div>
<script type="text/javascript">
/* @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&amp;dn=expat.txt MIT */
$(function(){ initResizable(false); });
/* @license-end */
</script>
<!-- window showing the filter options -->
<div id="MSearchSelectWindow"
     onmouseover="return searchBox.OnSearchSelectShow()"
     onmouseout="return searchBox.OnSearchSelectHide()"
     onkeydown="return searchBox.OnSearchSelectKey(event)">
</div>

<!-- iframe showing the search results (closed by default) -->
<div id="MSearchResultsWindow">
<div id="MSearchResults">
<div class="SRPage">
<div id="SRIndex">
<div id="SRResults"></div>
<div class="SRStatus" id="Loading">Loading...</div>
<div class="SRStatus" id="Searching">Searching...</div>
<div class="SRStatus" id="NoMatches">No Matches</div>
</div>
</div>
</div>
</div>

<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_ae80e75a4e4645ab5904faef0d253c1a.html">GitKoba</a></li><li class="navelem"><a class="el" href="dir_1ba5cae8aa2c74688d68ea333f95c8b8.html">K0BA_Lite</a></li><li class="navelem"><a class="el" href="dir_910e0c4e7ff5f03bf5b37e8f802a43ca.html">Inc</a></li><li class="navelem"><a class="el" href="dir_d4c8b0864e8b9cbd2cccfd735f12335b.html">kernel</a></li>  </ul>
</div>
</div><!-- top -->
<div id="doc-content">
<div class="header">
  <div class="summary">
<a href="#define-members">Macros</a>  </div>
  <div class="headertitle"><div class="title">kconfig.h File Reference</div></div>
</div><!--header-->
<div class="contents">

<p>Kernel Configuration File.  
<a href="#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="define-members" name="define-members"></a>
Macros</h2></td></tr>
<tr class="memitem:aeed613812aec0541d867776a0a092437" id="r_aeed613812aec0541d867776a0a092437"><td class="memItemLeft" align="right" valign="top"><a id="aeed613812aec0541d867776a0a092437" name="aeed613812aec0541d867776a0a092437"></a>
#define&#160;</td><td class="memItemRight" valign="bottom"><b>TIM_ON</b>&#160;&#160;&#160;0</td></tr>
<tr class="separator:aeed613812aec0541d867776a0a092437"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a668217b99c245f63fa193a279be499d0" id="r_a668217b99c245f63fa193a279be499d0"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="#a668217b99c245f63fa193a279be499d0">PID_IDLETASK</a>&#160;&#160;&#160;0</td></tr>
<tr class="separator:a668217b99c245f63fa193a279be499d0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a01271ebdaa8acb0495debc097747450b" id="r_a01271ebdaa8acb0495debc097747450b"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="#a01271ebdaa8acb0495debc097747450b">PID_TIMHANDLER</a>&#160;&#160;&#160;1</td></tr>
<tr class="separator:a01271ebdaa8acb0495debc097747450b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a51fcc1ce2e7a0c1f057fc1e2d54b5e2d" id="r_a51fcc1ce2e7a0c1f057fc1e2d54b5e2d"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="#a51fcc1ce2e7a0c1f057fc1e2d54b5e2d">PID_INVALID</a>&#160;&#160;&#160;255</td></tr>
<tr class="separator:a51fcc1ce2e7a0c1f057fc1e2d54b5e2d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2dd285ed65b4eb1bee16f3f186335f21" id="r_a2dd285ed65b4eb1bee16f3f186335f21"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="#a2dd285ed65b4eb1bee16f3f186335f21">N_USRTASKS</a>&#160;&#160;&#160;4</td></tr>
<tr class="separator:a2dd285ed65b4eb1bee16f3f186335f21"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a21d9543c516fffee84a7963224271f95" id="r_a21d9543c516fffee84a7963224271f95"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="#a21d9543c516fffee84a7963224271f95">STACKSIZE</a>&#160;&#160;&#160;128</td></tr>
<tr class="separator:a21d9543c516fffee84a7963224271f95"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9b17bb8e604500364510fcf583ba2831" id="r_a9b17bb8e604500364510fcf583ba2831"><td class="memItemLeft" align="right" valign="top"><a id="a9b17bb8e604500364510fcf583ba2831" name="a9b17bb8e604500364510fcf583ba2831"></a>
#define&#160;</td><td class="memItemRight" valign="bottom"><b>_N_SYSTASKS</b>&#160;&#160;&#160;2</td></tr>
<tr class="separator:a9b17bb8e604500364510fcf583ba2831"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a51ca9914034cd3e92903476fd4eebbd6" id="r_a51ca9914034cd3e92903476fd4eebbd6"><td class="memItemLeft" align="right" valign="top"><a id="a51ca9914034cd3e92903476fd4eebbd6" name="a51ca9914034cd3e92903476fd4eebbd6"></a>
#define&#160;</td><td class="memItemRight" valign="bottom"><b>NTHREADS</b>&#160;&#160;&#160;(<a class="el" href="#a2dd285ed65b4eb1bee16f3f186335f21">N_USRTASKS</a> + _N_SYSTASKS)</td></tr>
<tr class="separator:a51ca9914034cd3e92903476fd4eebbd6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a032d44401ff37a857f8302901de266e3" id="r_a032d44401ff37a857f8302901de266e3"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="#a032d44401ff37a857f8302901de266e3">_NPRIO</a>&#160;&#160;&#160;5</td></tr>
<tr class="separator:a032d44401ff37a857f8302901de266e3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9287234affb49e18e6221cc3df3e5738" id="r_a9287234affb49e18e6221cc3df3e5738"><td class="memItemLeft" align="right" valign="top"><a id="a9287234affb49e18e6221cc3df3e5738" name="a9287234affb49e18e6221cc3df3e5738"></a>
#define&#160;</td><td class="memItemRight" valign="bottom"><b>NPRIO</b>&#160;&#160;&#160;(<a class="el" href="#a032d44401ff37a857f8302901de266e3">_NPRIO</a> + 1)</td></tr>
<tr class="separator:a9287234affb49e18e6221cc3df3e5738"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1e70a4e88f54126f863f08c41f2e312c" id="r_a1e70a4e88f54126f863f08c41f2e312c"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="#a1e70a4e88f54126f863f08c41f2e312c">TICK_10MS</a>&#160;&#160;&#160;(SystemCoreClock/1000)</td></tr>
<tr class="separator:a1e70a4e88f54126f863f08c41f2e312c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a244b324cb35392ea1d69222cebfb9e9c" id="r_a244b324cb35392ea1d69222cebfb9e9c"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="#a244b324cb35392ea1d69222cebfb9e9c">TICK_5MS</a>&#160;&#160;&#160;(SystemCoreClock/2000)</td></tr>
<tr class="separator:a244b324cb35392ea1d69222cebfb9e9c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad819070748c7f96aaebe03d72df770a1" id="r_ad819070748c7f96aaebe03d72df770a1"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="#ad819070748c7f96aaebe03d72df770a1">TICK_1MS</a>&#160;&#160;&#160;(SystemCoreClock/10000)</td></tr>
<tr class="separator:ad819070748c7f96aaebe03d72df770a1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa86d11d266560cbc70794041eb86572e" id="r_aa86d11d266560cbc70794041eb86572e"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="#aa86d11d266560cbc70794041eb86572e">K_CONF_TICK_PERIOD</a>&#160;&#160;&#160;<a class="el" href="#a1e70a4e88f54126f863f08c41f2e312c">TICK_10MS</a></td></tr>
<tr class="separator:aa86d11d266560cbc70794041eb86572e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a55a180b0de6a45ce7b52c0749d52645b" id="r_a55a180b0de6a45ce7b52c0749d52645b"><td class="memItemLeft" align="right" valign="top"><a id="a55a180b0de6a45ce7b52c0749d52645b" name="a55a180b0de6a45ce7b52c0749d52645b"></a>
#define&#160;</td><td class="memItemRight" valign="bottom"><b>K_CONF_TRACE</b>&#160;&#160;&#160;OFF</td></tr>
<tr class="separator:a55a180b0de6a45ce7b52c0749d52645b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac97dcfabd0f424e740a97c4d24c6d140" id="r_ac97dcfabd0f424e740a97c4d24c6d140"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="#ac97dcfabd0f424e740a97c4d24c6d140">K_CONF_MSG_QUEUE</a>&#160;&#160;&#160;ON</td></tr>
<tr class="memdesc:ac97dcfabd0f424e740a97c4d24c6d140"><td class="mdescLeft">&#160;</td><td class="mdescRight">Message Passing configuration.  <br /></td></tr>
<tr class="separator:ac97dcfabd0f424e740a97c4d24c6d140"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa024a67ccbe20a8b066f7f01a1c9b118" id="r_aa024a67ccbe20a8b066f7f01a1c9b118"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="#aa024a67ccbe20a8b066f7f01a1c9b118">K_CONF_MAILBOX</a>&#160;&#160;&#160;ON</td></tr>
<tr class="separator:aa024a67ccbe20a8b066f7f01a1c9b118"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af94aefa983f618a9988898c0bc01aed7" id="r_af94aefa983f618a9988898c0bc01aed7"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="#af94aefa983f618a9988898c0bc01aed7">K_CONF_MAILBOX_ACK</a>&#160;&#160;&#160;ON</td></tr>
<tr class="separator:af94aefa983f618a9988898c0bc01aed7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adc9c4dbbd6d589bc0e2156b0193fe619" id="r_adc9c4dbbd6d589bc0e2156b0193fe619"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="#adc9c4dbbd6d589bc0e2156b0193fe619">MSGBUFF_SIZE</a>&#160;&#160;&#160;sizeof(<a class="el" href="structk_mesg_buff.html">K_MESGBUFF</a>)</td></tr>
<tr class="separator:adc9c4dbbd6d589bc0e2156b0193fe619"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a821104b4705c10c75e0fb34c3baae166" id="r_a821104b4705c10c75e0fb34c3baae166"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="#a821104b4705c10c75e0fb34c3baae166">N_MSGBUFF</a>&#160;&#160;&#160;10</td></tr>
<tr class="separator:a821104b4705c10c75e0fb34c3baae166"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae81bb567adf7a88bf77d859f19b019db" id="r_ae81bb567adf7a88bf77d859f19b019db"><td class="memItemLeft" align="right" valign="top"><a id="ae81bb567adf7a88bf77d859f19b019db" name="ae81bb567adf7a88bf77d859f19b019db"></a>
#define&#160;</td><td class="memItemRight" valign="bottom"><b>K_CONF_COND_VAR</b>&#160;&#160;&#160;ON</td></tr>
<tr class="separator:ae81bb567adf7a88bf77d859f19b019db"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a677b9ae3f52c881a66fd1769f66242d7" id="r_a677b9ae3f52c881a66fd1769f66242d7"><td class="memItemLeft" align="right" valign="top"><a id="a677b9ae3f52c881a66fd1769f66242d7" name="a677b9ae3f52c881a66fd1769f66242d7"></a>
#define&#160;</td><td class="memItemRight" valign="bottom"><b>K_CONF_PIPES</b>&#160;&#160;&#160;ON</td></tr>
<tr class="separator:a677b9ae3f52c881a66fd1769f66242d7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abc6a1fc471b3060f967ad4e5e1916f03" id="r_abc6a1fc471b3060f967ad4e5e1916f03"><td class="memItemLeft" align="right" valign="top"><a id="abc6a1fc471b3060f967ad4e5e1916f03" name="abc6a1fc471b3060f967ad4e5e1916f03"></a>
#define&#160;</td><td class="memItemRight" valign="bottom"><b>PIPE_SIZE</b>&#160;&#160;&#160;(35) /* pipe size (bytes) */</td></tr>
<tr class="separator:abc6a1fc471b3060f967ad4e5e1916f03"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6092455278a1ac67204e0dbe08f9d13f" id="r_a6092455278a1ac67204e0dbe08f9d13f"><td class="memItemLeft" align="right" valign="top"><a id="a6092455278a1ac67204e0dbe08f9d13f" name="a6092455278a1ac67204e0dbe08f9d13f"></a>
#define&#160;</td><td class="memItemRight" valign="bottom"><b>FIFO_SIZE</b>&#160;&#160;&#160;(32)</td></tr>
<tr class="separator:a6092455278a1ac67204e0dbe08f9d13f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5d4e4a6f927115e8b06316cfdc29beba" id="r_a5d4e4a6f927115e8b06316cfdc29beba"><td class="memItemLeft" align="right" valign="top"><a id="a5d4e4a6f927115e8b06316cfdc29beba" name="a5d4e4a6f927115e8b06316cfdc29beba"></a>
#define&#160;</td><td class="memItemRight" valign="bottom"><b>N_TIMERS</b>&#160;&#160;&#160;6					   /* number of application timers */</td></tr>
<tr class="separator:a5d4e4a6f927115e8b06316cfdc29beba"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9552c41a5b5e71c374a545241bb477ed" id="r_a9552c41a5b5e71c374a545241bb477ed"><td class="memItemLeft" align="right" valign="top"><a id="a9552c41a5b5e71c374a545241bb477ed" name="a9552c41a5b5e71c374a545241bb477ed"></a>
#define&#160;</td><td class="memItemRight" valign="bottom"><b>TIMER_SIZE</b>&#160;&#160;&#160;sizeof(<a class="el" href="structk_timer.html">K_TIMER</a>)		   /* application timer size */</td></tr>
<tr class="separator:a9552c41a5b5e71c374a545241bb477ed"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p>Kernel Configuration File. </p>
<dl class="section version"><dt>Version</dt><dd>0.1.0 </dd></dl>
<dl class="section author"><dt>Author</dt><dd>Antonio Giacomelli</dd></dl>
<p>In this header kernel services are configured. </p>
</div><h2 class="groupheader">Macro Definition Documentation</h2>
<a id="a032d44401ff37a857f8302901de266e3" name="a032d44401ff37a857f8302901de266e3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a032d44401ff37a857f8302901de266e3">&#9670;&#160;</a></span>_NPRIO</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define _NPRIO&#160;&#160;&#160;5</td>
        </tr>
      </table>
</div><div class="memdoc">
<p>Number of priorities </p>

</div>
</div>
<a id="aa024a67ccbe20a8b066f7f01a1c9b118" name="aa024a67ccbe20a8b066f7f01a1c9b118"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa024a67ccbe20a8b066f7f01a1c9b118">&#9670;&#160;</a></span>K_CONF_MAILBOX</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define K_CONF_MAILBOX&#160;&#160;&#160;ON</td>
        </tr>
      </table>
</div><div class="memdoc">
<p>Mailbox ON/OFF </p>

</div>
</div>
<a id="af94aefa983f618a9988898c0bc01aed7" name="af94aefa983f618a9988898c0bc01aed7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af94aefa983f618a9988898c0bc01aed7">&#9670;&#160;</a></span>K_CONF_MAILBOX_ACK</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define K_CONF_MAILBOX_ACK&#160;&#160;&#160;ON</td>
        </tr>
      </table>
</div><div class="memdoc">
<p>Mailbox extended rendez-vous </p>

</div>
</div>
<a id="ac97dcfabd0f424e740a97c4d24c6d140" name="ac97dcfabd0f424e740a97c4d24c6d140"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac97dcfabd0f424e740a97c4d24c6d140">&#9670;&#160;</a></span>K_CONF_MSG_QUEUE</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define K_CONF_MSG_QUEUE&#160;&#160;&#160;ON</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Message Passing configuration. </p>
<p>Mesg Queue ON/OFF </p>

</div>
</div>
<a id="aa86d11d266560cbc70794041eb86572e" name="aa86d11d266560cbc70794041eb86572e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa86d11d266560cbc70794041eb86572e">&#9670;&#160;</a></span>K_CONF_TICK_PERIOD</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define K_CONF_TICK_PERIOD&#160;&#160;&#160;<a class="el" href="#a1e70a4e88f54126f863f08c41f2e312c">TICK_10MS</a></td>
        </tr>
      </table>
</div><div class="memdoc">
<p>System tick period </p>

</div>
</div>
<a id="adc9c4dbbd6d589bc0e2156b0193fe619" name="adc9c4dbbd6d589bc0e2156b0193fe619"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adc9c4dbbd6d589bc0e2156b0193fe619">&#9670;&#160;</a></span>MSGBUFF_SIZE</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define MSGBUFF_SIZE&#160;&#160;&#160;sizeof(<a class="el" href="structk_mesg_buff.html">K_MESGBUFF</a>)</td>
        </tr>
      </table>
</div><div class="memdoc">
<p>message buffer size <br  />
 </p>

</div>
</div>
<a id="a821104b4705c10c75e0fb34c3baae166" name="a821104b4705c10c75e0fb34c3baae166"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a821104b4705c10c75e0fb34c3baae166">&#9670;&#160;</a></span>N_MSGBUFF</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define N_MSGBUFF&#160;&#160;&#160;10</td>
        </tr>
      </table>
</div><div class="memdoc">
<p>number of message buffer </p>

</div>
</div>
<a id="a2dd285ed65b4eb1bee16f3f186335f21" name="a2dd285ed65b4eb1bee16f3f186335f21"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2dd285ed65b4eb1bee16f3f186335f21">&#9670;&#160;</a></span>N_USRTASKS</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define N_USRTASKS&#160;&#160;&#160;4</td>
        </tr>
      </table>
</div><div class="memdoc">
<p>Number of tasks </p>

</div>
</div>
<a id="a668217b99c245f63fa193a279be499d0" name="a668217b99c245f63fa193a279be499d0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a668217b99c245f63fa193a279be499d0">&#9670;&#160;</a></span>PID_IDLETASK</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define PID_IDLETASK&#160;&#160;&#160;0</td>
        </tr>
      </table>
</div><div class="memdoc">
<p>ID of the idle task </p>

</div>
</div>
<a id="a51fcc1ce2e7a0c1f057fc1e2d54b5e2d" name="a51fcc1ce2e7a0c1f057fc1e2d54b5e2d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a51fcc1ce2e7a0c1f057fc1e2d54b5e2d">&#9670;&#160;</a></span>PID_INVALID</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define PID_INVALID&#160;&#160;&#160;255</td>
        </tr>
      </table>
</div><div class="memdoc">
<p>Invalid PID </p>

</div>
</div>
<a id="a01271ebdaa8acb0495debc097747450b" name="a01271ebdaa8acb0495debc097747450b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a01271ebdaa8acb0495debc097747450b">&#9670;&#160;</a></span>PID_TIMHANDLER</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define PID_TIMHANDLER&#160;&#160;&#160;1</td>
        </tr>
      </table>
</div><div class="memdoc">
<p>ID of the timer handler task </p>

</div>
</div>
<a id="a21d9543c516fffee84a7963224271f95" name="a21d9543c516fffee84a7963224271f95"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a21d9543c516fffee84a7963224271f95">&#9670;&#160;</a></span>STACKSIZE</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define STACKSIZE&#160;&#160;&#160;128</td>
        </tr>
      </table>
</div><div class="memdoc">
<p>Stack size in words for each task </p>

</div>
</div>
<a id="a1e70a4e88f54126f863f08c41f2e312c" name="a1e70a4e88f54126f863f08c41f2e312c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1e70a4e88f54126f863f08c41f2e312c">&#9670;&#160;</a></span>TICK_10MS</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define TICK_10MS&#160;&#160;&#160;(SystemCoreClock/1000)</td>
        </tr>
      </table>
</div><div class="memdoc">
<p>Tick period of 10ms </p>

</div>
</div>
<a id="ad819070748c7f96aaebe03d72df770a1" name="ad819070748c7f96aaebe03d72df770a1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad819070748c7f96aaebe03d72df770a1">&#9670;&#160;</a></span>TICK_1MS</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define TICK_1MS&#160;&#160;&#160;(SystemCoreClock/10000)</td>
        </tr>
      </table>
</div><div class="memdoc">
<p>Tick period of 1ms </p>

</div>
</div>
<a id="a244b324cb35392ea1d69222cebfb9e9c" name="a244b324cb35392ea1d69222cebfb9e9c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a244b324cb35392ea1d69222cebfb9e9c">&#9670;&#160;</a></span>TICK_5MS</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define TICK_5MS&#160;&#160;&#160;(SystemCoreClock/2000)</td>
        </tr>
      </table>
</div><div class="memdoc">
<p>Tick period of 5ms </p>

</div>
</div>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.12.0
</small></address>
</div><!-- doc-content -->
</body>
</html>
